PruebaCliente_27Ene2018_5/xml-resources/web-service-references/AreasWs/wsdl/localhost_8080/WebServiceAreas_27Ene2018_6/AreasWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.areasws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.areasws.com/">

<xs:element name="calcularAreaRectangulo" type="tns:calcularAreaRectangulo"/>

<xs:element name="calcularAreaRectanguloResponse" type="tns:calcularAreaRectanguloResponse"/>

<xs:element name="calcularAreaTriangulo" type="tns:calcularAreaTriangulo"/>

<xs:element name="calcularAreaTrianguloResponse" type="tns:calcularAreaTrianguloResponse"/>

<xs:complexType name="calcularAreaRectangulo">
<xs:sequence>
<xs:element name="base" type="xs:double"/>
<xs:element name="altura" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularAreaRectanguloResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularAreaTriangulo">
<xs:sequence>
<xs:element name="base" type="xs:double"/>
<xs:element name="altura" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularAreaTrianguloResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>